[submodule "config/nvim/pack/bundle/opt/tabular"]
	path = config/nvim/pack/bundle/opt/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "config/nvim/pack/bundle/opt/command-t"]
	path = config/nvim/pack/bundle/opt/command-t
	url = https://github.com/wincent/command-t.git
