.config/Android Open Source Project/
.config/Google/
.config/Signal/
.config/QtProject.conf
.config/clojure/
.config/Thunar/
.config/configstore/
.config/dconf/
.config/discord/
.config/keepassxc/
.config/libreoffice/
.config/nextjs-nodejs/
.config/pavucontrol.ini
.config/pulse/
.config/spotify/
.config/xfce4/
